* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-item a {
    color: black;
}

.navbar-nav .nav-item {
    transition: background-color 0.3s ease;
}

.navbar-nav .nav-item a:hover {
    color: #191970;
}

.navbar-nav .nav-item a.active {
    color: #000080;
    font-weight: bold;
}

.navbar {
    transition: background-color 0.3s, color 0.3s;
}

.navbar.scrolled {
    background-color: #1B1212 !important;
    color: white !important;
}

#banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), url('../images/ocean_heaven_hotel.jpg');
    background-size: cover;
    background-position: center;
}