* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.CEO {
    height: 300px;
    width: 300px;
    background-image: url('../images/CEO.jpg');
    background-position: center;
    background-size: cover;
    overflow: hidden;
    position: relative;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: -15px -15px 15px rgba(255, 255, 255, 0.2),
        15px 15px 15px rgba(0, 0, 0, 0.1),
        inset -5px -5px 5px rgba(255, 255, 255, 0.2),
        inset 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.frame {
    height: 150px;
    width: 200px;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    position: relative;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: -15px -15px 15px rgba(255, 255, 255, 0.2),
        15px 15px 15px rgba(0, 0, 0, 0.1),
        inset -5px -5px 5px rgba(255, 255, 255, 0.2),
        inset 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.certificate {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.certificate h2 {
    text-align: center;
    color: #007bff;
}

.certificate p {
    text-align: justify;
}

#banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), url('../images/ocean_heaven_hotel.jpg');
    background-size: cover;
    background-position: center;
}

#certificate {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), url('../images/hall_of_fame.jpg');
    background-size: cover;
    background-position: center;
}

#footer {
    height: 100vh;
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url('../images/footer_bg.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

@media (max-width: 767px) {

    /* Styles for screens smaller than 768px (Bootstrap's small and extra small sizes) */
    .frame {
        width: 100%;
        /* Set the width to 100% for smaller screens */
    }
}