* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-item a {
    color: black;
}

.navbar-nav .nav-item {
    transition: background-color 0.3s ease;
}

.navbar-nav .nav-item a:hover {
    color: #191970;
}

.navbar-nav .nav-item a.active {
    color: #000080;
    font-weight: bold;
}

.navbar {
    transition: background-color 0.3s, color 0.3s;
}

.navbar.scrolled {
    background-color: #1B1212 !important;
    color: white !important;
}

.carousel-inner {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.carousel-item {
    scroll-snap-align: start;
    min-width: 100%;
}

.CEO {
    height: 300px;
    width: 300px;
    background-image: url('../images/CEO.jpg');
    background-position: center;
    background-size: cover;
    overflow: hidden;
    position: relative;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: -15px -15px 15px rgba(255, 255, 255, 0.2),
        15px 15px 15px rgba(0, 0, 0, 0.1),
        inset -5px -5px 5px rgba(255, 255, 255, 0.2),
        inset 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.frame {
    height: 150px;
    width: 200px;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    position: relative;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: -15px -15px 15px rgba(255, 255, 255, 0.2),
        15px 15px 15px rgba(0, 0, 0, 0.1),
        inset -5px -5px 5px rgba(255, 255, 255, 0.2),
        inset 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.certificate {
    background-color: white;
    border: 2px solid #000;
    /* Set the border color and width */
    border-radius: 10px;
    /* Optional: Add rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
}

.certificate h2 {
    text-align: center;
    color: #333;
}

.certificate p {
    text-align: justify;
}

#banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), url('../images/ocean_heaven_hotel.jpg');
    background-size: cover;
    background-position: center;
}

#certificate {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), url('../images/hall_of_fame.jpg');
    background-size: cover;
    background-position: center;
}

@media (max-width: 767px) {

    /* Styles for screens smaller than 768px (Bootstrap's small and extra small sizes) */
    .frame {
        width: 100%;
        /* Set the width to 100% for smaller screens */
    }
}