* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-item a {
    color: black;
}

.navbar-nav .nav-item {
    transition: background-color 0.3s ease;
}

.navbar-nav .nav-item a:hover {
    color: #191970;
}

.navbar-nav .nav-item a.active {
    color: #000080;
    font-weight: bold;
}

.navbar {
    transition: background-color 0.3s, color 0.3s;
}

.navbar.scrolled {
    background-color: #1B1212 !important;
    color: white !important;
}

/* Pagination styles */
.pagination-links {
    margin-top: 20px;
    text-align: center;
}

.pagination-links .page-link {
    display: inline-block;
    padding: 6px 12px;
    margin-right: 5px;
    border: 1px solid #dee2e6;
    background-color: #ffffff;
    color: #007bff;
    border-radius: 4px;
    text-decoration: none;
}

.pagination-links .page-link:hover {
    background-color: #f8f9fa;
}

.pagination-links .page-link.active {
    background-color: #007bff;
    color: #ffffff;
}

#room_image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), url('../images/Single Room.jpg');
    background-size: cover;
    background-position: center;
}

#footer {
    height: 100vh;
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url('../images/footer_bg.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}