* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    height: 80px;
}

.nav-item a {
    color: black;
}

.navbar-nav .nav-item {
    transition: background-color 0.3s ease;
}

.navbar-nav .nav-item a:hover {
    color: #191970;
}

.navbar-nav .nav-item a.active {
    color: #000080;
    font-weight: bold;
}

.navbar {
    transition: background-color 0.3s, color 0.3s;
}

.navbar.scrolled {
    background-color: #1B1212 !important;
    color: white !important;
}

.hover-dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.card-img-top {
    width: 100%;
    height: 12rem;
    object-fit: cover;
}

#room_image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), url('../images/Single Room.jpg');
    background-size: cover;
    background-position: center;
}

#footer {
    height: 100vh;
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url('../images/footer_bg.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Adjust height for mobile devices */
@media (max-width: 767.98px) {
    .logo-image {
        width: 70px;
        height: 70px;
    }

    .navbar {
        height: auto;
    }
}