* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-item a {
    color: black;
}

.navbar-nav .nav-item {
    transition: background-color 0.3s ease;
}

.navbar-nav .nav-item a:hover {
    color: #191970;
}

.navbar-nav .nav-item a.active {
    color: #000080;
    font-weight: bold;
}

.navbar {
    height: 80px;
    transition: background-color 0.3s, color 0.3s;
}

.navbar.scrolled {
    background-color: #1B1212 !important;
    color: white !important;
}

.hover-dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

/* Back to Top Button Styling */
.back-to-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    z-index: 1000;
}

.card-img-top {
    height: 100%;
    object-fit: cover;
}

/* Pagination styles */
.pagination-links {
    margin-top: 20px;
    text-align: center;
}

.pagination-links .page-link {
    display: inline-block;
    padding: 6px 12px;
    margin-right: 5px;
    border: 1px solid #dee2e6;
    background-color: #ffffff;
    color: #007bff;
    border-radius: 4px;
    text-decoration: none;
}

.pagination-links .page-link:hover {
    background-color: #f8f9fa;
}

.pagination-links .page-link.active {
    background-color: #007bff;
    color: #ffffff;
}

#room_image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), url('../../images/Single Room.jpg');
    background-size: cover;
    background-position: center;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .logo-image {
        width: 70px;
        height: 70px;
    }

    .navbar {
        height: auto;
    }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    .logo-image {
        width: 70px;
        height: 70px;
    }

    .navbar {
        height: auto;
    }
}